mixin calendarEvent(event)
  .cal-event-time
    p= event.timeLabel 
  .cal-event-name
    p= event.eventName 
  .cal-event-calendar
    p= event.calendarName

mixin calendarEvents(events)
  if events.length
    ul.cal-events
      each event in events 
        if event.allDayEvent
          li.cal-event.all-day-event
            +calendarEvent(event)
        else 
          li.cal-event
            +calendarEvent(event)

doctype html 
html 
  head
    title MGA Passive Display 
    style 
      include style.css
  body 
    #container 
      #cal-widget
        each day, index in calendar 
          div(class=`cal-day-${index}`)
            if index === 0
              h1 Today - #{calendar[index].label}
            else if index === 1
              h2 Tomorrow - #{calendar[index].label}
            else 
              h3 #{calendar[index].label}
            +calendarEvents(calendar[index].events)
      #todos-widget
      #shopping-widget
    script.
      const data = { calendar: !{JSON.stringify(calendar)} }